logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
*.class
.target
.settings

conf/properties.txt
conf/concepts.txt


/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID

*.db
*.aux
*.bbl
*.log
*.blg
*.out
documentation/*/*.pdf
/bin
